<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.universidadandroidroom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".VistaEstudiante"
            android:parentActivityName=".ListaEstudiantes"
            ></activity>
        <activity
            android:name=".ListaEstudiantes"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FormularioEstudiantes"
            android:parentActivityName=".ListaEstudiantes" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>